.admin-sidebar {
  position: relative;
  background: rgb(12, 12, 130);
  list-style: none;
  padding: 0 30px;
  height: 100%;
  margin-top: 0;
  
  h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 5px;
    padding: 10px;
  }

  li {
    color: rgb(218, 202, 202);
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

.admin-logoutBtn {
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #1afbac;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}