$default-margin: 20px;

@mixin default-margin-left {
  margin-left: $default-margin;
}

.cartItem-image {
  width: 170px;
  height: 170px;
  text-align: left;
  border: 1px solid black;
}

.cartItem-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.cartItem-name-container {
  width: 40vw;
  height: 170px;
}

.cartItem-name {
  font: {
    size: 25px;
    weight: 400;
    family: sans-serif;
  }
  @include default-margin-left;
}

.cartItem-quantity {
  @include default-margin-left;
}

.cartItem-single {
  @include default-margin-left;
}

.cartItem-total {
  @include default-margin-left;
}

.cartItem-delete {
  @include default-margin-left;
  font-size: 25px;

  &:hover {
    cursor: pointer;
  }
}