.orderDetail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 70%;
  font: {
    size: 20px;
    family: sans-serif;
  }
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 20px;
}

.billingInfo-promptText {
  margin-left: 15%;
}

.billingInfo-form {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15%;
  width: 70%;
}

.billingInfo-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 60rem;
  padding: 10px;

  p {
    padding: 5px;
  }

  input {
    width: 60%;
  }

  input, select {
    padding: 5px;
  }
}

.billingInfo-groupItem {
  position: relative;
}

.payment-options {
  width: 100%;
  margin: 10px 0;
}

.checkout-totalPrice {
  width: 100%;
  text-align: right;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 35vw;
}

.checkout-payingbtnContainer {
  text-align: right;
  margin-right: 10%;
  margin-top: 20px;
}

.checkout-payingbtn {
  background-color: #d12f07;
  padding: 15px 25px;
  color: rgb(228, 231, 218);
  font: {
    size: 20px;
    family: "Helvetica Neue", Helvetica, Arial;
    weight: bold;
  }
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 20%);

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}