.footer {
  background-color: rgb(82, 80, 80);
  color: lightgray;
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
}

p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}