.item-container {
  border-radius: 10px;
  margin: 10px;
  &:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
}

.image {
  width: 100%;
  height: 15rem;
  border: 0.5px solid black;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    border: 2px solid black;
  }
}

.itemName {
  font: {
    weight: 500;
    family: "sans-serif";
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}