.item-container {
  max-width: 200px;
  min-width: 180px;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
}

.image {
  width: 100%;
  min-width: 180px;
  height: 15rem;
  border: 0.5px solid black;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.itemName {
  width: 100%;
  font-family: "sans-serif";
  // The trick to hide long item title
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.item-genre {
  display: flex;
  justify-content: center;
}

.add-to-cart {
  display: flex;
  justify-content: space-around;
}

.add-to-cart-btn {
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(122, 73, 73);
  color: white;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8)
  }
}