.listing-container {
  max-width: 200px;
  min-width: 180px;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
}

.listing-image-wrap {
  position: relative;
}

.listing-delete {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 25px;
  color: rgb(185, 56, 56);
  z-index: 100;
  cursor: pointer;
}

.listing-image {
  width: 100%;
  // min-width: 180px;
  height: 15rem;
  border: 0.5px solid black;
  border-radius: 10px;
}

.listing-name {
  width: 100%;
  font-family: "sans-serif";
  // The trick to hide long item title
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}