.profile-body-container {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 40px;

  h2 {
    font-size: 35px;
    font-weight: 900;
  }
}

.profile-bucket {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  box-shadow:  5px 5px 10px;

  img {
    height: 125px;
    border-radius: 10px;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;

  .profile-username {
    font: {
      weight: 900;
      size: 20px;
    }
    margin-bottom: 5px;
  }

  .profile-useremail {
    color: grey;
  }
}

