@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
.linkBtn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #121213;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.linkBtn:hover {
  text-decoration: underline;
}
