@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
.searchBar-container {
  width: 80vw;
}
.searchBar-container input {
  background-color: #c7c3c3;
  width: 90%;
  padding: 10px;
  caret-color: auto;
  outline: none;
  border: 2px solid #000000;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.searchBar-container input:focus {
  filter: brightness(1.1);
}

::placeholder {
  font-family: "Roboto", sans-serif;
  color: #111111;
  font-size: 1rem;
}

.searchBtn {
  background-color: #c7c3c3;
  height: 100%;
  padding: 10px 15px;
  border: 2px solid #000000;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.searchBtn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
